@import url("https://fonts.googleapis.com/css?family=Signika:400,300,700|Muli:400,300|Montserrat:400,700");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*[class^="icon-"],
*[class*=" icon-"] {
  font-family: icomoon;
}
.icon-telephone:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-email:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
@media (min-width: 640px) {
  .container {
    display: block;
    margin: 0 auto;
    max-width: 1100px;
  }
  .container-fluid {
    display: block;
  }
  .row,
  .max-row {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .col {
    display: table-cell;
  }
  .row {
    margin: 0 auto;
    max-width: 1100px;
  }
}
@media (max-width: 640px) {
  .row {
    padding-left: 15px;
    padding-right: 15px;
  }
  .col {
    text-align: center;
  }
}
@font-face {
  font-family: 'icomoon';
  font-weight: 'normal';
  font-style: normal;
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot?#iefix") format('embedded-opentype'), url("../fonts/icomoon/icomoon.woff") format('woff'), url("../fonts/icomoon/icomoon.ttf") format('truetype'), url("../fonts/icomoon/icomoon.svg#icomoon/icomoon") format('svg');
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  background: #f7f7f7;
  color: #686868;
  font: 300 18px 'Muli', Tahoma, sans-serif;
  height: 100%;
}
a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}
::selection {
  background: #000;
  color: #bfe60c;
}
::-moz-selection {
  background: #000;
  color: #bfe60c;
}
strong,
b {
  font-weight: 700;
}
em,
i {
  font-style: italic;
}
.menu-overlay {
  background: rgba(0,0,0,0.94);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
  -webkit-transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menu-overlay.open {
  opacity: 1;
  z-index: 7000;
}
.hamburguer {
  color: #bfe60c;
  display: inline-block;
  font: 700 12px 'Montserrat', Verdana, sans-serif;
  height: 30px;
  left: 30px;
  padding-right: 0;
  padding-top: 20px;
  position: fixed;
  text-align: right;
  top: -7px;
  width: 30px;
  z-index: 9000;
}
@media (max-width: 480px) {
  .hamburguer {
    left: 10px;
  }
}
.hamburguer p {
  backface-visibility: hidden;
  margin-top: 4px;
}
.menu-icon {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
.menu-icon,
.menu-icon:before,
.menu-icon:after {
  display: block;
  width: 38px;
  height: 5px;
  -webkit-transition: background-color 0.3s ease, transform 0.3s ease;
  -moz-transition: background-color 0.3s ease, transform 0.3s ease;
  -ms-transition: background-color 0.3s ease, transform 0.3s ease;
  -o-transition: background-color 0.3s ease, transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  background-color: #bfe60c;
}
.menu-icon:before,
.menu-icon:after {
  position: absolute;
  content: "";
}
.menu-icon:before {
  top: -10px;
}
.menu-icon:after {
  top: 10px;
}
.navigation-toggle {
  cursor: pointer;
  display: inline-block;
}
.navigation-toggle.active .menu-icon {
  background-color: transparent;
}
.navigation-toggle.active .menu-icon:before {
  -webkit-transform: translateY(10px) rotate(45deg);
  -moz-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  -o-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}
.navigation-toggle.active .menu-icon:after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -moz-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  -o-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}
.navigation-toggle.active:hover .menu-icon {
  background-color: transparent;
}
.navigation-toggle + p {
  -webkit-transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.navigation-toggle:hover + p {
  color: #c4e81a;
}
.navigation-toggle:hover .menu-icon {
  background-color: #c4e81a;
}
.navigation-toggle:hover .menu-icon:before,
.navigation-toggle:hover .menu-icon:after {
  background-color: #c4e81a;
}
